!!! 5
%html
  %head
    %title Users
    %link(rel="stylesheet" href="/css/bootstrap.min.css")
    %link(rel="stylesheet" href="/css/style.css")
    %script(src="/js/modernizr.js")

  %body
    #container.container
      %header
        %h1 Users

      #main
        - for user in users
          %div
            %a(href="/user/#{user.id}")= user.email_address

    #legend

    %script(src="/js/jquery.js")
    %script(src="/js/bootstrap.js")
