!!! 5
%html
  %head
    %meta(charset="utf-8")
    %title Still Baking!
    %link(rel="stylesheet" href="/css/bootstrap.min.css")
    %link(rel="stylesheet" href="/css/style.css")
    %script(src="/js/modernizr.js")

  %body
    #container.container
      %header

      #main
        %p
          Sorry, you aren't on the invitation list. You've been signed back out.
          Check back later to see if we open the waitlist for invitations.

      %footer

  #legend

  %script(src="/js/jquery.js")
  %script(src="/js/bootstrap.js")
